.form {
	label {
		display: block;
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
	}
	button {
		display: block;
	}
	input, textarea {
		padding: 5px;
		width: 50%;
	}
	.hidden {
		display: none;
	}
}