html {
	font-size: 62.5%;
}

body {
    position: relative;
	background: $blanc;
    color: $noir;
    font-size: 18px;
	min-height: 101vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	font-family: "Roboto Condensed", sans-serif;

    &.fixed {
    	overflow: hidden;
    }
}

.wrapper {
    position: relative;
}

.layout {
    background: white;
}

.color-blanc {
    color: $blanc;
}

.color-deep-blue--l-30 {
    color: $deep-blue--l-30;
}

.color-deep-blue--l-50 {
    color: $deep-blue--l-50;
}