h1, h2, h3, h4, h4 {
	font-family: "Source Serif Pro", serif;
	color: $deep-blue;
	position: relative;
	font-weight: normal;
	margin: 0 0 20px 0;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 90px;
		height: 3px;
		background: $mid-light-grey;
	}
}

p {
	line-height: 2.7rem;
}