header {
	background: rgba($deep-blue,1);
	width: 100%!important;
	right: 0; top: 0; left: 0; 
	z-index: 1200;
}

.logo {
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 20px;
	max-width: 180px;
}

@include bp800 {

	header {
/* 		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%; */
	}
}

@include bp1200 {

	.logo {
		float: left;
		width: 100%;
		max-width: 180px;
	}

	&:after {
		content: '';
		clear: both;
		display: block;
	}

}