.hero {
	color: $blanc;
	padding: 20px;
	background: $deep-blue;
	margin-top: 70vh;
	text-align: center;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#172957+1,0b1328+100 */
	background: rgb(23,41,87); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(23,41,87,1) 1%, rgba(11,19,40,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(23,41,87,1) 1%,rgba(11,19,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(23,41,87,1) 1%,rgba(11,19,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172957', endColorstr='#0b1328',GradientType=1 ); /* IE6-9 */
	overflow: hidden;

	h1 {
		color: $blanc;
		position: relative;
		z-index: 1;
		display: inline-block;
	}

	h2 {
		color: $deep-blue--l-50;
	}

	&--home {
		position: fixed;
		bottom: 10px;
		left: 0;
		right: 20px;
		width: 96%;
		text-align: left;
		margin: 0;
	}
}

@include bp1000 {

	.hero {
		margin-top: 40vh;
		margin-bottom: 5vh;
		width: 100%;
		right: 0;
		background: none;
		text-align: left;
		h1 {
			font-size: 8rem;
			line-height: 8rem;
			margin: 0 0 20px 0;
			text-align: left;
		}
		h2 {
			font-size: 4rem;
			line-height: 5rem;
			margin: 0 0 20px 0;
			text-align: left;
			max-width: 520px;
		}

		&--home {
			margin: 0;
			top: 40%;
			background: none;
			h2 {
				max-width: 100%;
			}
		}
	}
}

/*.hero {
    width: 100%;
    height: 250px;
    position: relative;

    &:before {
    	content: '';
    	height: 125px;
    	display: block;
    }

	&__bgimage {
		width: 100%;
		height: 100%;
	}

	&__title {
		position: absolute;
		left: 10px;
		bottom: -165px;
		background: $deep-blue;
		color: $blanc;
		padding: 10px;
	}
}

@include bp800 {

	.hero {

	    &:before {
	    	height: 165px;
	    }

		&__title {
			bottom: -200px;
		}
	}
}

@include bp1000 {

	.hero {
		height: 70vh;
		position: fixed;
		top: 0; right: 0; left: 0;
		z-index: -10;

		&__bgimage {
			filter: sepia(1);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: rgba($deep-blue,.8);
			display: block;
			width: 100%;
			height: 100%;
		}

	    &:before {
	    	height: 0;
	    	display: none;
	    }

		&__title {
			bottom: inherit;
			top: 50%;
			z-index: 10;
			background: none;
			font-size: 8rem;
			max-width: 50%;
		}
	}
}*/