.hero {
    width: 100%;
    height: 50vh;
    position: relative;

	&__bgimage {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__title {
		position: absolute;
		bottom: -40px;
		left: 10px;
		background: $deep-blue;
		color: $blanc;
		padding: 10px;
	}
}