.main-content {
	padding: 20px;
    background: white;

	p {
		margin: 0 0 20px 0;

		&:first-of-type {
			font-size: 1.1em;
			font-family: $primaryFont, serif;
		}
	}

}

@include bp1000 {
    .main-content {
        width: 70%;
        margin-left: auto;
        border: none;
		padding: 80px;
    }
}