@import
	"/base/variables.scss", 
	"/base/reset.scss", 
	"/base/core.scss", 
	"/base/breakpoints.scss", 
	"/base/flexbox.scss", 
	"/base/typography.scss", 
	"/base/containers.scss";

@import
	"/layout/header.scss",
	"/layout/navigation.scss",
	"/layout/main-content.scss",
	"/layout/hero.scss",
	"/layout/aside.scss",
	"/layout/copy.scss";

@import
	"/components/buttons.scss";

@import
	"/pages/home-page.scss";